<div class="custom-select" [class.disabled]="disabled">
  <div #trigger class="select-trigger" (click)="toggleDropdown()">
    <span class="select-value" [class.placeholder]="!selectedValue">
      {{ getSelectedLabel() }}
    </span>
    <lucide-angular name="chevron-down" [size]="16" class="select-icon" [class.open]="isOpen"></lucide-angular>
  </div>

  <div
    class="select-dropdown"
    *ngIf="isOpen"
    [style.top]="dropdownPosition.top"
    [style.left]="dropdownPosition.left"
    [style.width]="dropdownPosition.width">
    <div
      *ngFor="let option of options"
      class="select-option"
      [class.selected]="selectedValue === option.value"
      (click)="selectOption(option)">
      {{ option.label }}
    </div>
  </div>
</div>
